{% extends 'base_webapp.html' %}
{% block titulo %}Calendario{% endblock titulo %}
{% block activo_nav %}

<div class="sidebar-heading">
    Listas
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'inicio' %}">
    <i class="fas fa-calendar-check"></i>
    <span>Lista Turnos</span></a>
</li>
        
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'lista_pacientes' %}">
        <i class="fas fa-users"></i>
        <span>Lista Pacientes</span></a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'lista_medicos' %}">
    <i class="fas fa-users"></i>
    <span>Lista Médicos</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Nuevo
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_turno' %}">
    <i class="fas fa-calendar-plus"></i>
    <span>Nuevo Turno</span></a>                  
</li>

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_paciente' %}">
        <i class="fas fa-user-plus"></i>
        <span>Nuevo Paciente</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_medico' %}">
        <i class="fas fa-user-md"></i>
        <span>Nuevo Médico</span></a>
</li>
{% endblock activo_nav%}
{% block titulo_lista%}Calendario{% endblock  %}

{% block contenido %}
     
<div id="calendar" class='container'></div>
<br><br>
{% endblock contenido%}