{% extends 'base_webapp.html' %}
{% block titulo %}Lista Médicos{% endblock titulo %}

{% block activo_nav %}

<div class="sidebar-heading">
    Listas
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'inicio' %}">
    <i class="fas fa-calendar-check"></i>
    <span>Lista Turnos</span></a>
</li>
        
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'lista_pacientes' %}">
        <i class="fas fa-users"></i>
        <span>Lista Pacientes</span></a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item active">
    <a class="nav-link" href="{% url 'lista_medicos' %}">
    <i class="fas fa-users"></i>
    <span>Lista Médicos</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Nuevo
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_turno' %}">
    <i class="fas fa-calendar-plus"></i>
    <span>Nuevo Turno</span></a>                  
</li>

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_paciente' %}">
        <i class="fas fa-user-plus"></i>
        <span>Nuevo Paciente</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'nuevo_medico' %}">
        <i class="fas fa-user-md"></i>
        <span>Nuevo Médico</span></a>
</li>
{% endblock activo_nav%}

{% block contenido %}

{% if messages %}
    {% for message in messages  %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<div class="d-flex justify-content-center"><h1>Médicos</h1></div>


{% if user.is_authenticated %}
<div><a href="{% url 'logout' %}">Logout</a></div>
{% else %}

<div><a href="{% url 'login' %}">Login</a></div>

{% endif %}

<div>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Matrícula</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            {% for medico in medicos %}
            <tr>
                
                <td>{{medico.nombre}}</td>
                <td>{{medico.apellido}}</td>
                <td>{{medico.email}}</td>
                <td>{{medico.matricula}}</td>
                {% comment %} <td><a href="detalle_paciente/{{paciente.id}}" type="button" class="btn btn-primary">Ver</a></td> {% endcomment %}
                <td><a href="editar_medico/{{medico.id}}" type="button" class="btn btn-success"><i class="fa fa-pen"></i></a></td>
                <td><a href="eliminar_medico/{{medico.id}}" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<br> 

{% else %}
    <h1>Debe Loguearse para ver esta página</h1>
    <div><a href="{% url 'login' %}">Login</a></div>
{% endif %}

{% endblock contenido %}